h1{
  font-family: "Sofia", "sans-serif";
  font-size: 40px;
  padding-bottom: 10px;
}

h3{
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 20px;
}

footer{
  font-family: 'Noto Sans HK', sans-serif;
  padding: 20px;
  padding-top: 10px;
}

p{
  font-family: 'Noto Sans HK', sans-serif;
}

body{
  text-align: center;
}

img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 30px;
}

.containers{
  flex-wrap: wrap;
}
